* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 300px 10px 300px;
}

.view-highscores-link {
    text-decoration: none;
    color:steelblue;
}

.view-highscores-link:hover {
    color:lightsteelblue;
}

.timer {
    margin:0;
}

.main-content-container {
    margin: auto;
    text-align: center;
    width: 560px;
    padding: 10px 450px 10px 450px;
}

.main-p {
    padding: 5px 0 10px 0;
}

.start-quiz-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 
}

.start-quiz-btn {
    background-color: steelblue;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    font-size: 14px;
}

.start-quiz-btn:hover{
    background-color: lightsteelblue;
}

/* how to get my appended option-btns spaced out?? */
.option-btn {
    background-color: steelblue;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    font-size: 14px;
}

.option-btn:hover{
    background-color: lightsteelblue;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.go-back-btn {
    background-color: steelblue;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    font-size: 14px;
}

.go-back-btn:hover{
    background-color: lightsteelblue;
}

.clear-high-scores {
    background-color: steelblue;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    font-size: 14px;
}

.clear-high-scores:hover{
    background-color: lightsteelblue;
}

.question3-option-btn {
    background-color: steelblue;
    height: 40px;
    width: 150px;
    border-radius: 8px;
    font-size: 14px;
}

.question3-option-btn:hover{
    background-color: lightsteelblue;
}

.high-scores {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 
    padding-bottom: 25px;
}

.high-scores-unordered-list {
    background-color: lightsteelblue;
}

.list-of-high-scores {
    padding: 5px;
}